/__pycache__/
/accounts/__pycache__/
/accounts/migrations/__pycache__/
/posts/__pycache__/
/posts/migrations/__pycache__/
/posts/templatetags/__pycache__/
/News_Portal/__pycache__/
/fpages/__pycache__/