/__pycache__/
/accounts/__pycache__/
/accounts/migrations/__pycache__/
/posts/__pycache__/
/posts/migrations/__pycache__/
/posts/templatetags/__pycache__/
/posts/management/commands/__pycache__/
/News_Portal/__pycache__/
/fpages/__pycache__/
/protect/__pycache__/
/protect/migrations/__pycache__/
/sign/__pycache__/
/sign/migrations/__pycache__/
.env
