{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
<h1>Все новости ({{ news|length }})</h1>
<hr>
{% if news %}
       <table align="left" cellpadding="10">
           <tr>
               <th>Заголовок</th>
               <th>Дата</th>
               <th>Превью</th>
           </tr>

           {% for post in news %}
           <tr align="right" valign="top">
               <td>{{ post.title|censor }}</td>
               <td>{{ post.date|date:'d.m.Y' }}</td>
               <td><p style="text-indent: 25px;" align="justify" >{{ post.text|truncatewords:20|censor }}</p></td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}