{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
<h3>Новостей на странице: {{ search|length }}</h3>
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>
<hr>
{% if search %}
       <table align="left" cellpadding="10">
           <tr>
               <th>Заголовок</th>
               <th>Дата</th>
               <th>Превью</th>
           </tr>

           {% for post in search %}
           <tr align="right" valign="top">
               <td>{{ post.title|censor }}</td>
               <td>{{ post.date|date:'d.m.Y' }}</td>
               <td><p style="text-indent: 25px;" align="justify" >{{ post.text|truncatewords:20|censor }}</p></td>
           </tr>
           {% endfor %}
       </table>
{% else %}
    <h3>Новостей нет!</h3>
{% endif %}

<h6>Актуально на: {% current_time '%d.%m.%Y' %}</h6>

{% if page_obj.has_previous %}
    <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
{% endif %}
{% endblock content %}