{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load cache %}
{% load i18n %}

{% block title %}
{%trans 'Новости' %}
{% endblock title %}

{% block content %}
<h3>{%trans 'Новостей на странице:' %} {{ search|length }}</h3>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        {% cache 60 filter_btn %}
        <input type="submit" value="{%trans 'Найти' %}" /><br>
        {% endcache %}
        <br>
        {% if categories %}
        <a href="{% url 'subscribe_me' %}?{{categories}}" class="btn btn-secondary btn-md">{%trans 'Подписаться на выбранные категории' %}</a>
        {% endif %}
    </form>

<hr>
{% if search %}
        <table align="left" cellpadding="10">
            <tr>
                <th>{%trans 'Заголовок' %}</th>
                <th>{%trans 'Дата' %}</th>
                <th>{%trans 'Превью' %}</th>
            </tr>

            {% for post in search %}
            <tr align="right" valign="top">
                <td><a href="{{ post.get_absolute_url }}">{{ post.title|censor }}</a></td>
                <td>{{ post.date|date:'d.m.Y' }}</td>
                <td><p style="text-indent: 25px;" align="justify" >{{ post.text|truncatewords:20|censor }}</p></td>
            </tr>
            {% endfor %}
        </table>
{% else %}
    <h3>{%trans 'Новостей нет!' %}</h3>
{% endif %}

<h6>{%trans 'Актуально на:' %} {% current_time '%d.%m.%Y' %}</h6>

{% if page_obj.has_previous %}
    <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
{% endif %}
{% endblock content %}